# Executable
miniRT

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# build artifacts
*.o
*.out
*.a

# build dirs
build/*
bin/*
obj/*

# vscode configs
.vscode/*

# editor/OS
.DS_Store
*.swp
.idea/*

# Prerequisites
*.d

# Libraries
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# debug information files
#.gdb_history

# PROJECT
Makefile

# minilibx
libs/minilibx-linux/

# source dirs/files
# Makefile
# inc/dbg_log.h
# inc/trace_log.h
# inc/color.h

# src/error/
# src/parse/
src/ray/
# src/scene/
# src/vec/

# src/rt/rt_run.c
# src/rt/rt_events.c

# src/log/rt_log.c
# src/log/trace_log.c
# src/log/dbg_log.c

# src/color/color.c


# tests dirs/files
libs/libft/src/ft_log/*
tests/tst_libft_integration.c

# format
.clang-format
.editorconfig
.clang-tidy

# misc
00_misc/*
todo.txt
#snippets.c

# Documentation
docs/.*
#Doxyfile
#examples/
#MY_DOCS/
